* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: #333;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  header a {
    text-decoration: none;
    color: #0073b1;
  }
  
  header p {
    margin-top: 10px;
  }
  
  h2 {
    border-bottom: 2px solid grey;
    margin-bottom: 10px;
    color: #2c3e50;
    padding-bottom: 6px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  .summary p {
    text-align: justify;
    padding: 10px 0;
  }
  
  ul li {
    padding: 5px 0;
  }
  
  .education-details,
  .project-details,
  .skills,
  .additional-information {
    padding: 10px 0;
  }
  
  .edu-header {
    display: flex;
    justify-content: space-between;
  }
  
  .certification-list {
    margin-left: 20px;
  }
  
  ul {
    padding: 0 10px;
  }
  