* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
}

/* Home section */

.navbar {
  position: fixed;
  width: 100%;
  background-color: black;
  padding: 10px 0;
  z-index: 1;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 5px 10px;
}

.nav-links a:hover {
  background-color: #555;
  border-radius: 5px;
}

.home-content {
  margin-left: 70px;
}

.home-content h1 {
  margin-bottom: 10px;
  font-size: 50px;
}

.home-content p {
  font-size: 18px;
}

.contacts {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 5px;
}

.contacts .contact-icon {
  color: white;
  font-size: 20px;
  margin: 0 15px;
}

#home {
  position: relative;
  height: 100vh;
  background-position: center;
  background-image: url("images/bac1.jpg");
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
}

/* About section */

.about-section {
  flex-wrap: wrap; /* Allows content of about section to wrap when the screen is small */
  display: flex;
  align-items: center;
  padding: 50px;
  justify-content: space-between;
  gap: 50px;
  background-color: #9c9898;
}

.about-text {
  flex: 1;
  max-width: 600px;
}

.about-text h3 {
  font-size: 20px;
  color: #292626;
}

.about-text h2 {
  font-size: 35px;
  margin-bottom: 20px;
  color: #333;
}

.about-text p {
  font-size: 18px;
  color: #555;
  line-height: 1.5;
}

.about-image {
  flex: 1;
  text-align: right;
}

.about-image img {
  min-width: 200px;
  border-radius: 50%;
  width: 100%;
  max-width: 300px;
  object-fit: cover;
  aspect-ratio: 1/1;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Education section */

.education-section {
  flex-wrap: wrap;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card {
  flex: 1;
  height: auto;
  background-color: #cdc9c9;
  border-radius: 10px;
  max-width: 45%;
}

.title {
  font-size: 30px;
  text-align: center;
  color: #5d5858;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 10px 0;
  border-bottom: solid rgb(46, 46, 162) 5px;
}
.section-title {
  background-color: #191919;
  padding: 20px;
  border-radius: 10px;
  max-width: 50%;
}

.major-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card-content {
  text-align: center;
  padding: 10px;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #292828;
}

.card-content p {
  font-size: 15px;
  color: #555;
}
.card-content p:first-of-type {
  /* take only the first p from the card content div */
  font-weight: bold;
  color: #375164;
}
