* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
}

/* Home section */

.navbar {
  position: fixed;
  width: 100%;
  background-color: black;
  padding: 10px 0;
  z-index: 1;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 5px 10px;
}

.nav-links a:hover {
  background-color: #555;
  border-radius: 5px;
}

.home-content {
  margin-left: 70px;
}

.home-content h1 {
  margin-bottom: 10px;
  font-size: 50px;
}

.home-content p {
  font-size: 18px;
}

.contacts {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 5px;
}

.contacts .contact-icon {
  color: white;
  font-size: 20px;
  margin: 0 15px;
}

#home {
  position: relative;
  height: 100vh;
  background-position: center;
  background-image: url("images/bac1.jpg");
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
}

/* About section */

.about-section {
  flex-wrap: wrap; /* Allows content of about section to wrap when the screen is small */
  display: flex;
  align-items: center;
  padding: 50px;
  justify-content: space-between;
  gap: 50px;
  background-color: #9c9898;
}

.about-text {
  flex: 1;
  max-width: 600px;
}

.about-text h3 {
  font-size: 20px;
  color: #292626;
}

.about-text h2 {
  font-size: 35px;
  margin-bottom: 20px;
  color: #333;
}

.about-text p {
  font-size: 18px;
  color: #555;
  line-height: 1.5;
}

.about-image {
  flex: 1;
  text-align: right;
}

.about-image img {
  min-width: 200px;
  border-radius: 50%;
  width: 100%;
  max-width: 300px;
  object-fit: cover;
  aspect-ratio: 1/1;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Education section */

.education-section {
  flex-wrap: wrap;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card {
  flex: 1;
  height: auto;
  background-color: #cdc9c9;
  border-radius: 10px;
  max-width: 45%;
}

.education-section .title {
  font-size: 30px;
  text-align: center;
  color: #5d5858;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 10px 0;
  border-bottom: solid rgb(46, 46, 162) 5px;
}
.education-section .section-title {
  background-color: #191919;
  padding: 20px;
  border-radius: 10px;
  max-width: 50%;
}

.major-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card-content {
  text-align: center;
  padding: 10px;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #292828;
}

.card-content p {
  font-size: 15px;
  color: #555;
}
.card-content p:first-of-type {
  /* take only the first p from the card content div */
  font-weight: bold;
  color: #375164;
}

/* Skills section */

.skills-section {
  padding: 10px 35px;
}

.skills-section .skills-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  flex-wrap: wrap;
}

.skills-section .section-title,
.projects-section .section-title {
  width: 100%;
  background-color: #191919;
  padding: 15px 20px;
  color: #5d5858;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
}

.skill-card {
  background-color: #95a5ad;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 330px;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  margin: 15px 0;
}

.skill-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.skill-card p {
  font: 12px;
  margin-bottom: 10px;
}

.progress-bar {
  width: 70%;
  height: 15px;
  background-color: #beb7b7;
  border-radius: 25px;
}

.progress {
  width: 90%;
  background-color: rgb(28, 117, 219);
  border-radius: 10px;
  height: 15px;
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill-card:hover {
  transform: translateY(5px);
  background-color: rgb(153, 159, 164);
}

/* Projects section */

.projects-section {
  padding: 0 25px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 10px;
  gap: 5px;
}

.project-card {
  width: 55%;
  height: 200px;
  border-radius: 10px;
  background-color: #d3d9dc;
  padding: 25px;
  max-width: 700px;
}

.project-card h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #252525;
}

.project-card p {
  color: #555;
  margin-bottom: 20px;
}

.tech {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tech li {
  background-color: #3177a9;
  padding: 5px 10px;
  width: auto;
  border-radius: 5px;
}

.project-image {
  flex: 1;
}

.gallery {
  display: flex;
  gap: 10px;
  max-height: 100%;
  overflow-x: auto; /* scroll along x-axis */
}

.gallery img {
  height: 200px;
  border-radius: 10px;
}